<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android TV: Leanback support (optional - allows running on TV) -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <!-- Android TV: Touch not required (works with D-pad only) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".ApplicationCore"
        android:theme="@style/AppTheme.Base.Light"
        >
        <activity android:name="org.yegie.orthogon.MenuActivity"
                  android:exported="true"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Android TV launcher entry -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.yegie.orthogon.KenKenActivity"
            android:exported="true"/>

        <activity android:name="org.yegie.orthogon.StoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Base.Light"/>
    </application>

</manifest>
